body {
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  color: #ffc107;
}

.container {
  max-width: 900px;
}